@import (inline) '../node_modules/reset-css/reset.css';
@import (inline) '../node_modules/highlight.js/styles/tomorrow.css';

@import '../style/MarkupEditor.less';
@import '../style/MarkupEditor-Toolbar.less';

@ui-spacing: 20px;
@markdown-block-margin: 16px;

* {
    box-sizing: border-box;
}

body, html, #target {
    width: 100%;
    height: 100%;
    position: relative;
}

.Example {
    width: 100%;
    height: 100%;
    position: relative;
}

.Example-Editor {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 50%;
    display: flex;
    flex-direction: column;

    .MarkupEditor-Toolbar {
        flex: 1 0 auto;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
        background: #f5f5f5;
        border-bottom: 1px solid #e1e1e1;
    }

    .MarkupEditor {
        flex: 1 1 auto;
        overflow: auto;
    }
}

.Example-Preview, .Example-RawState {
    font-family: "Inconsolata", "Menlo", "Consolas", monospace;
    word-wrap: break-word;
    background: rgba(0, 0, 0, 0.04);
    overflow-y: auto;
    padding: @ui-spacing;
    border: 3px solid #ccc;
    border-right: 0px;
    border-top: 0px;
}

.Example-Preview {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 50%;
}

.Example-RawState {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 50%;
    height: 50%;
    border-bottom: 0px;
}
